**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/*.log
**/.dockerignore
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
**/coverage
**/.env*
**/specs
**/tests
**/TestResults
**/artifacts
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.doccache
